{% include 'songs/header.html' %}

{% include 'songs/navbar.html' %}
<div class="container">
<div class="card">
	<form action="{% url 'songs:classify' %}" method="post">
	{% csrf_token %}
	<div class="card-body">
	<div class="form-group">
		<label class="lead" for="lyricsTextArea">Enter Lyrics:</label>
		<textarea class="form-control" id="lyricsTextArea" rows="15" name="lyrics" required></textarea>

		<label class="lead" for="classifier">Select Classifier</label>
	    <select class="form-control" id="classifier" name="classifier">
	      <option>Multinomial Naive Bayes</option>
	      <option>Support Vector Classifier without Audio Features</option>
	    </select>
	</div>
	<button type="submit" class="btn btn-secondary">Submit</button><br><br>
	<a  href="{% url 'songs:search' %}">Don't know the lyrics? Search here.</a>
	</div>
	</form>
</div>
</div>

{% include 'songs/scripts.html' %}

{% include 'songs/footer.html' %}