{% include 'songs/header.html' %}

{% include 'songs/navbar.html' %}
<div class="container">
<form action="{% url 'songs:classify' %}" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="lyricsTextArea">Enter Lyrics:</label>
		<textarea class="form-control" id="lyricsTextArea" rows="15" name="lyrics" required></textarea>

		<label for="classifier">Select Classifier</label>
	    <select class="form-control" id="classifier" name="classifier">
	      <option>Multinomial Naive Bayes</option>
	      <option>Support Vector Classifier without Audio Features</option>
	    </select>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<h5> or Search for a Song and its Audio Features and Use SVM</h5>
<a class="btn btn-primary btn-md" href="{% url 'songs:search' %}" role="button">Search!</a>
</div>

{% include 'songs/scripts.html' %}

{% include 'songs/footer.html' %}