{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Classifiying Musical Valence using Spotify Features as Audio Features</title>
		<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
	</head>
	<body>

		<!--- Load navbar template -->
		{% include 'songs/navbar.html' %}

		<script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
		<script src='{% static "js/bootstrap.bundle.min.js" %}'></script>
	</body>
</html>