{% include 'songs/header.html' %}
{% include 'songs/navbar.html' %}

<div class="jumbotron">
	<div class="container">
		<h1 class="display-4">Classifiying Musical Valence using Lyrics and Spotify Features as Audio Features</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">See Training Results</a>
			<a class="btn btn-lg btn-outline-secondary" href="#" role="button">Search Lyrics and Classify</a>
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body text-center">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick text to build on the card title. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
					<a class="btn btn-primary btn-md" href="#" role="button">See Results</a>
				</div>
						
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body text-center">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick text to build on the card title. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
					<a class="btn btn-primary btn-md" href="#" role="button">See Results</a>
				</div>
						
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body text-center">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick text to build on the card title. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</p>
					<a class="btn btn-primary btn-md" href="#" role="button">See Results</a>
				</div>
						
			</div>
		</div>	
	</div>
</div>

{% include 'songs/scripts.html' %}

{% include 'songs/footer.html' %}

  
