{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://developer.spotify.com/">
  	<img src="{% static "img/spotify.png" %}" width="200" height="60">		
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'songs:index' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Results and Discussions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'songs:results' %}">Training Results</a>
          <a class="dropdown-item" href="{% url 'songs:statistics' %}">Graphs and Statistics</a>
          <a class="dropdown-item" href="{% url 'songs:methodology' %}">Methodology</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'songs:classify_index' %}">Classify</a>
      </li>
    </ul>
  </div>
</nav>